

 

<div class="loay">
    
   
<!--      
        
        <ul class="nav nav-pills nav-fill board">
            <li class="nav-item board-bar" *ngFor=" let board of boards; let x= index" (click)="getindex(x)">
              <a class="nav-link active board-name" href="#">{{board.name}}</a>
            </li>
           
          </ul> -->


          <!-- <ul class="nav nav-tabs board">
            <li class="nav-item board-bar" *ngFor=" let board of boards; let x= index" (click)="getindex(x)">
             <div class="d-flex justify-content-between align-items-center">

              <a class="nav-link active board-name" >
                {{board.name}}   
                <fa-icon [icon]="faTrash"  class="ml-3 board-style-icons"  (click)="deleteBoard(x)"></fa-icon>
                <fa-icon [icon]="faPenToSquare" class="ml-3  board-style-icons" data-toggle="modal" data-target="#exampleModal3" (click)="editBoardName(x)"></fa-icon>
              
              
              </a>
            
             </div>
            </li>
            
          </ul> -->


          <div class="d-flex justify-content-center ">
            <h3 class="p-3 text-capitalize"> 
              you can drag and drop Items :
            </h3>
          </div>
          
        <app-boards
         [selectedBoardIndex]="indexOfSelectedBoard"
        [board]="selectedBoard"
        ></app-boards>
    





        <!-- <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-capitalize" id="exampleModalLabel">edit new board</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">


                <form [formGroup]="boardName" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="exampleInputEmail1 text-capitalize">edit name</label>
                    <input 
                      type="text" 
                      class="form-control" 
                      id="exampleInputEmail1" 
                      aria-describedby="emailHelp"
                      formControlName="name"
                      required
                      >
                  
                  </div>



                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" >Close</button>
                    <button type="submit" class="btn btn-success"   >Update</button>
                  </div>

                </form>



            
        
              </div>
              
            </div>
          </div>
        </div> -->
</div>